.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
}

.loanForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  padding: 3%;
  border: 1px solid rgb(236, 199, 166);
  border-radius: 25px;
  margin-right: 2%;
}
